@model ProductsListViewModel

@foreach (Product p in Model.Products)
{
    <partial name="Product" model="@p"/>
}
<div page-model="@Model.PagingInfo" page-action="List"
     class="btn-group m-1"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary"></div>